.card.shadow.p-3>
  .row.align-items-baseline
    .col
      %h2.font-weight-bold
        = local_assigns[:location_name].humanize
    .col
      %h5.text-secondary.text-right{ data: { target: "stimulus--location-viewer.#{local_assigns[:location_name]}Time" } }
  .row.mt-3
    .col
      %h2{ data: { target: "stimulus--location-viewer.#{local_assigns[:location_name]}TempF" } }
        = t('utils.waiting')
    .col
      %h2.text-right{ data: { target: "stimulus--location-viewer.#{local_assigns[:location_name]}TempC" } }
        = image_tag 'loading.gif', class: 'loading-image'