.row.align-items-center
  - @locations.each do |location|
    .col-12.col-md-6.col-xl-4.mb-3
      .card.shadow.p-3>
        .row.align-items-baseline
          .col
            %h2.font-weight-bold
              = location.name.humanize
          .col
            %h5.text-secondary.text-right
              = location.localtime_formatted
        .row.mt-3
          .col
            %h2
              = location.temperature_f
              %small.text-secondary ºF
          .col
            %h2.text-right
              = location.temperature_c
              %small.text-secondary ºC
        - if params[:debug].present?
          .row
            .col
              %p
                %strong Latitud/Longitud:
                = "#{location.latitude}/#{location.longitude}"
                %br
                %strong Zona Horaria:
                = location.timezone
%h5.text-right
  Asynclock
  %small.text-secondary by Jorge Fuentes, 2019