.row.align-items-center
  - @places.each do |place_name, place_information|
    .col-12.col-md-6.col-xl-4.mb-3
      .card.shadow.p-3>
        .row.align-items-baseline
          .col
            %h2.font-weight-bold
              = place_name.humanize
          .col
            %h5.text-secondary.text-right
              = place_information.localtime_formatted
        .row.mt-3
          .col
            %h2
              = place_information.temperature_f
              %small.text-secondary ºF
          .col
            %h2.text-right
              = place_information.temperature_c
              %small.text-secondary ºC
        - if params[:debug].present?
          .row
            .col
              %p
                %strong Latitud/Longitud:
                = "#{place_information.latitude}/#{place_information.longitude}"
                %br
                %strong Zona Horaria:
                = place_information.timezone
%h5.text-right
  Asynclock
  %small.text-secondary by Jorge Fuentes, 2019